##### !!! please DO NOT rename this file !!!

### 20 skills for Python beginner (3) 18~20
- student id:112524031
- name：施盈琪

##### 18 break or continue

In [4]:
SS = "NCUGOGOGO"
for i in SS:
    print(i)
print("---end---")

N
C
U
G
O
G
O
G
O
---end---

In [5]:
### break
# With the break statement we can stop the loop even if the while condition is true
SS = "NCUGOGOGO"
for i in SS:
    if i == "O":
        break
    print(i)
print("---end---")

N
C
U
G
---end---

In [6]:
### continue
# With the continue statement we can stop the current iteration, and continue with the next
for i in SS:
    if i == "O":
        continue
    print(i)
print("---end---")

N
C
U
G
G
G
---end---

In [11]:
# Practice: Find all the numbers (from 1~20) not divided by 3 or 5
# ex: 1,2,4,7,8,...
#break with while True
while True:
    A = input("Do you want to continue(Y/N)?")
    if A == 'N' or A == 'n':
        break
    print("NCU GO")
print("BYEBYE")

Do you want to continue(Y/N)?ss
NCU GO
Do you want to continue(Y/N)?e
NCU GO
Do you want to continue(Y/N)?w
NCU GO
Do you want to continue(Y/N)?wf
NCU GO
Do you want to continue(Y/N)?n
BYEBYE

##### 19 format string

In [12]:
print("第一個值是%s，第二個值是%s，第三個值是%s"  %  (888,888,"AUO") )
# "填空題" % (答案,....)
# %d 十進位的整為
# %f 浮點數
# %s 字串

第一個值是888，第二個值是888，第三個值是AUO

In [13]:
print("第一個值是%d，第二個值是%f"  %  (88.88,88.88))
# %d 取整數沒有四捨五入

第一個值是88，第二個值是88.880000

In [17]:
print("第一值%d，第二值%.0f，第三值%.1f"  %  (88.888,88.888,88.888))
# %d 取整數沒有四捨五入
# %.2f 四捨五入到小數點第二位
# %.f 或 %.0f 四捨五入到整數

第一值88，第二值89，第三值88.9

In [18]:
#靠右
print("%10.2f"  %  (88.888))
print("%10.2f"  %  (888.88))
print("%10.2f"  %  (888888.8888888))

     88.89
    888.88
 888888.89

In [19]:
#靠左
print("%-10.2f"  %  (88.888))
print("%-10.2f"  %  (888.88))
print("%-10.2f"  %  (888888.8888888))

88.89
888.88
888888.89

##### 20 def the function

In [ ]:
# A function is a block of code which only runs when it is called.
# You can pass data, known as parameters, into a function.
# A function can return data as a result.

In [20]:
# without as parameters
def TREE():
    for i in range(1,6):
        print("O"*i)

In [21]:
TREE()

O
OO
OOO
OOOO
OOOOO

In [24]:
# with as parameters
def TREE_n(n):
    for i in range(1, n+1):
        print("O"*i)

In [25]:
TREE_n(3)

O
OO
OOO

In [26]:
# with as parameters with a defalt value
def TREE_d(n=5):
    for i in range(1, n+1):
        print("O"*i)

In [28]:
TREE_d()

O
OO
OOO
OOOO
OOOOO

In [ ]:
# Practice: writh a BMI(H,W), let user input H and W, and caculate the BMI

In [49]:
def BMI():
    h = float(input('Please enter your height(meters):'))
    w = float(input('Please enter your weight(kg):'))
    bmi = w/(h**2)
    print("your BMI is %.2f." % bmi)
    print(f'your bmi is: {bmi:.2f}')

In [50]:
BMI()

Please enter your height(meters):1.51
Please enter your weight(kg):41
your BMI is 17.98.
your bmi is: 17.98