##### !!! please DO NOT rename this file !!!

### 20 skills for Python beginner (2) 12~17
- student id:112524031
- name：施盈琪

##### 12 List

In [2]:
# A list is a collection which is ordered and changeable. Allows duplicate members.
# lists are written with square brackets.
# You access the list items by referring to the index number

LL = [1,3,5,"7",11,13,True,False,"hello"]
print(LL[-1])

hello

In [3]:
# Remember that the first item has index 0
print(LL[0])
print(LL[6])
print(LL[-1])
print(LL[2:5]) # Range of Indexes

1
True
hello
[5, '7', 11]

In [4]:
print(len(LL)) #To determine how many items a list has
print("7" in LL)  # Check if item exists
print(LL.index("7")) # Returns the index of the first element with the specified value

9
True
3

In [7]:
# list
LL = [1,3,5,"7",11,13,True,False,"hello"]
LL.append("NCU")
LL.insert(0, "XD")
# to add an item
LL[4] = 7
# to edit an item in a list
del LL[1]
# remove items from a list
LL.remove(13)
print(LL)

['XD', 3, 5, 7, 11, True, False, 'hello', 'NCU']

In [ ]:
# sorts the list ascending

In [8]:
LL.pop(0)

'XD'

In [9]:
print(LL)

[3, 5, 7, 11, True, False, 'hello', 'NCU']

##### 13 List VS String

In [13]:
# string ==> list
S = "Python"
L = list(S)
print(S)
print(L)

Python
['P', 'y', 't', 'h', 'o', 'n']

In [14]:
print(S[-2:])
print(L[-2:])
print(len(S))
print(len(L))

on
['o', 'n']
6
6

In [16]:
L[0]='p'
print(L)
S[0] = "p"

['p', 'is', 'Short', 'We', 'need', 'Python']

TypeError: 'str' object does not support item assignment

In [17]:
# string ==> list
# Split a string into a list where each word is a list item
S = "Life is Short We need Python"
list(S)
L = S.split()
L

['Life', 'is', 'Short', 'We', 'need', 'Python']

In [1]:
# list　＝＞　string
# takes all items in an iterable and joins them into one string.
L = ['Life', 'is', 'Short', 'we', 'need', 'Python']
SS = " ".join(L)
SS

'Life is Short we need Python'

##### 14 list in list

In [2]:
a = [1,2,3,4,5,6,7,8,9] # 1D
two_da = [[1,2,3],[4,5,6],[7,8,9]]  #2D

In [3]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
two_da[1][2]

6

##### 15 tuple

In [ ]:
# () Tuple is  ordered and UNchangeable
# [] List is a collection which is ordered and changeable. Allows duplicate members.
# {} Dict is changeable and ordered by KEY
# {} Set is changeable and DISordered

In [5]:
### tuple
# A tuple is a collection which is ordered and unchangeable. 
# Written with round brackets裡面的值可以呼叫不能修改
t = (3,6,9)

In [6]:
t[1]=888
t[1]

TypeError: 'tuple' object does not support item assignment

In [7]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [12]:
# print "Hi~, I am XX years old XXX"
# Basic formatting
# Method 1
age = 20
pro = "student"
print("I am a", age, "years old", pro)
print("I am a "+ str(age)+ " years old "+ pro)

I am a 20 years old student
I am a 20 years old student

In [13]:
# Simple positional formatting is probably the most common use-case. 
# Use it if the order of your arguments is not likely to change and 
# you only have very few elements you want to concatenate.
# Method 2
age = 34
pro = "teacher"
format_A = "Hi~, I am %s years old %s." #str
values_B =(age , pro) #tuple
format_A % values_B

'Hi~, I am 34 years old teacher.'

##### 16 dictionary

In [ ]:
# A dictionary is a collection which is unordered, changeable and indexed. 
# dictionaries are written with curly brackets, and they have keys and values.

In [1]:
# Method 1： {key1:value1, key2:value2, .. }
week = {"Mon":"星期一" , 
        "Tue":"星期二" , 
        "Wed":"星期三" }

In [2]:
week["Mon"]

'星期一'

In [8]:
# Method 2： { }
W = {} #empty dict
W["Mon"]="星期一" 
W["Tue"]="星期二"
W["Wed"]="星期三"
W

{'Mon': '星期一', 'Tue': '星期二', 'Wed': '星期三'}

In [4]:
W = {} #empty dict
type(W)

dict

In [9]:
# keyd, values, key-value pairs(items)
print(W.keys())
print(W.values())
print(W.items())

dict_keys(['Mon', 'Tue', 'Wed'])
dict_values(['星期一', '星期二', '星期三'])
dict_items([('Mon', '星期一'), ('Tue', '星期二'), ('Wed', '星期三')])

In [11]:
# Add
W["Thu"] = "星期四"
# Edit(for value)
W["Mon"] = "星期1"
# remove
del W["Tue"]
W

{'Mon': '星期1', 'Wed': '星期三', 'Thu': '星期四'}

In [13]:
# Check if Key Exists 確認
"Tue" in W

False

In [15]:
# You can loop through a dictionary by using for loop
# When looping through a dictionary, the return value are the keys of the dictionary, 
# but there are methods to return the values as well.

for i in W:
    print(i)

Mon
Wed
Thu

In [21]:
#print all values in dict
for i in W:
    print(W[i])

星期1
星期三
星期四

In [23]:
#print all values in dict
for i in W.values():
    print(i)

星期1
星期三
星期四

In [25]:
#print BOTH values and KEY in dict
for i in W.items():
    print(i)

('Mon', '星期1')
('Wed', '星期三')
('Thu', '星期四')

In [27]:
#print BOTH values and KEY in dict
for k, v in W.items():
    print(k, "is", v)

Mon is 星期1
Wed is 星期三
Thu is 星期四

In [30]:
# diffetent data type(value) in the dict

inv = {
    "coin":168, #int
    "wallet": ["ID","Credit Card"], #list
    "backpack":{ #dict
                "phone":1,
                "NB":1,
                "apple":3
               }
}

In [31]:
len(inv)

3

In [34]:
inv["backpack"]["phone"]

1

In [36]:
# revise, add a "photo" in wallet
inv["wallet"].append("photo")
inv

{'coin': 168,
 'wallet': ['ID', 'Credit Card', 'photo', 'photo'],
 'backpack': {'phone': 1, 'NB': 1, 'apple': 3}}

In [37]:
# revise, revise apple from 3 to 2
inv["backpack"]["apple"] = 2
inv

{'coin': 168,
 'wallet': ['ID', 'Credit Card', 'photo', 'photo'],
 'backpack': {'phone': 1, 'NB': 1, 'apple': 2}}

In [38]:
# clear
W.clear()
W

{}

In [39]:
# update() 
# updates the dictionary with the elements from the another dictionary object or from an iterable of key/value pairs. 
# adds element(s) to the dictionary if the key is not in the dictionary.
# If the key is in the dictionary, it updates the key with the new value.

W1 = {'Mon': '星期一', 'Tue': '星期二', 'Wed': '星期三'}
W2 = {'Mon': '周一', 'Tue': '周二', 'Thu': '週四'}
W1.update(W2)
W1

{'Mon': '周一', 'Tue': '周二', 'Wed': '星期三', 'Thu': '週四'}

##### 17 set

In [40]:
# set {} items in set should be unique
# A set is a collection which is unordered and unindexed. 
# sets are written with curly brackets.

set1 =  {2, 4, 6, 4, 6, 6, 8 ,12}
set1

{2, 4, 6, 8, 12}

In [41]:
set1[0]

TypeError: 'set' object is not subscriptable

In [43]:
# Add
set1.add(100)
# Remove
set1.remove(12)
set1

{2, 4, 6, 8, 100}

In [45]:
setA = {2,4,6,8,10}
setB = {1,2,3,4,5,6}

# Join Two Sets

print(setA & setB) # intersetion
print(setA | setB) # union
print(setA - setB) # difference

{2, 4, 6}
{1, 2, 3, 4, 5, 6, 8, 10}
{8, 10}

In [46]:
# subset
setC = {2,4,6,8,10}
setD = {2,4,6}
print(setD <= setC) # Returns whether another set contains this set or not
print(setD.issubset(setC)) #Returns whether another set contains this set or not
print(setD.isdisjoint(setC)) 
#Returns whether two sets have a intersection or not
#判断两个集合是否包含相同的元素，如果没有返回 True，有则返回 False

True
True
False