##### !!! please DO NOT rename this file !!!

### 20 skills for Python beginner (1) tip01~tip11
- student id:112524031
- name：施盈琪

##### 01. Ten ways to say "HELLO WORLD"

In [3]:
### string
print("HELLO WORLD")

HELLO WORLD

In [9]:
### String literals in python are surrounded by either single quotation marks, or double quotation marks
print("HELLO WORLD")
print("HELLO WORLD")

HELLO WORLD
HELLO WORLD

In [10]:
### variable
# Variables are containers for storing data values.
# Unlike other programming languages, Python has no command for declaring a variable.
A = "HELLO WORLD"
print(A)

HELLO WORLD

Variable Name Rules:
- A variable name must start with a letter or the underscore _ character.
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- Can be any (reasonable) length
- There are some reserved words which you cannot use as a variable name because Python uses them for other things.

In [14]:
A = 'HI'
a = 'hi'
print(A, a)

HI hi

In [19]:
A001 = 'ncu'
_001 = 'NCU'
0qw = 'NcU'

SyntaxError: invalid syntax (<ipython-input-19-63c882b50338>, line 3)

In [18]:
False = 'hi'

SyntaxError: cannot assign to False (<ipython-input-18-e6792070f5ad>, line 1)

##### 02 What's your phone number?

In [27]:
### input()  ==> will collect the date (user input) in string format
# Ask for the user's phone number and print it
Number = '0912345678'
print(Number)

0912345678

In [28]:
Number = int(input('What is your phone number'))
print("Number", Number)

What is your phone number1234567890
Number 1234567890

In [29]:
print(Number*2)

2469135780

In [30]:
type(Number)

int

##### 03. Apple Pen

In [33]:
# How to print: NCU's food is very "GOOD."
print("NCU\'s food is very \"GOOD.\"")

NCU's food is very "GOOD."

In [41]:
### Escape Character\
# To insert characters that are illegal in a string
print('\"')
print("\\")

"
\

In [40]:
print("aaa\naaa\taaa")

aaa
aaa	aaa

In [39]:
print("aaa\taaa\taaa")
print("aa\taaa\taaa")

aaa	aaa	aaa
aa	aaa	aaa

##### 04 NOT_A_LIST

In [42]:
S = "NUC's Apple Pen"
print(S)

NUC's Apple Pen

In [43]:
### Slicing
# You can return a range of characters by using the slice syntax.
# Specify the start index and the end index, separated by a colon, to return a part of the string

S = "NCU's Apple Pen"
print(S[12]) 
print(S[0:5]) 
print(S[6:11]) 
print(S[6:]) 
print(S[:11]) # first 11 
print(S[-3:]) # last 3負數就是從尾巴開始算

P
NCU's
Apple
Apple Pen
NCU's Apple
Pen

##### 05 Variable
Variables can store data of different types, and different types can do different things.

- string ==>  
 - "Hello"
- integer ==>  
 - 123
- float ==>  
 - 3.1415
- boolean ==> 
 - True/False

In [50]:
# Python has no command for declaring a variable.

SS = "hello"
II = 3
FF = 3.14
BB = True
print(SS*II)
print(SS*BB)
print(BB+FF)

hellohellohello
hello
4.140000000000001

In [47]:
# You can get the data type of any object by using the ____ function:
print(type(BB))
print(type(FF))
print(type(SS*II))

<class 'bool'>
<class 'float'>
<class 'str'>

##### 06 +-*/

In [52]:
### Python Arithmetic Operators 算術運算式   
# Arithmetic operators are used with numeric values to perform common mathematical operations
# Addition, Subtraction, Multiplication, Division
A = 12
B =2
print(A+B)
print(A-B)
print(A*B)
print(A/B)

14
10
24
6.0

In [54]:
# Modulus, Floor division, Exponentiation
print(A%B)
print(A//B)
print(A**B)

0
6
144

##### 07 >=<

In [57]:
### Comparison Operators 關係運算式
# Comparison operators are used to compare two values, return _____
# Equal Not equal
# Greater than
# Less than 
# Greater than or equal to
# Less than or equal to
AAA = 20
BBB = 21
print(AAA == BBB)
print(AAA != BBB)
print(AAA >= BBB)
print(AAA <= BBB)

False
True
False
True

In [58]:
A = 123
A == 123

True

##### 08 TrueFalseTrue

In [60]:
### Logical Operators 邏輯運算式  
# and => Returns True if both statements are true
a = True and True
b = True and False
c = False and False
print(a,b,c, sep = "\n")
print(a,b,c, sep = "\t")

True
False
False
True	False	False

In [ ]:
# or => Returns True if one of the statements is true
d = True or True
e = True or False
f = False or False
print(d,e,f, sep = "\n")

In [ ]:
# not => Reverse the result, returns False if the result is true
g = not False
print(g)

##### 09 whle it's true

In [ ]:
### while condition: 
# With the while loop we can execute a set of statements as long as a condition is true

In [ ]:
# Print i as long as i is less than 6

##### 10 if you are True

In [ ]:
### if condition:
# Python Conditions and If statements
# Python supports the usual logical conditions from mathematics

In [ ]:
# if: These conditions can be used in several ways, most commonly in "if statements."
# elif: if the previous conditions were not true, then try this condition
# else: catches anything which isn't caught by the preceding conditions.

In [ ]:
age = eval(input("How old are you?")) 
# The eval() function evaluates the specified expression, if the expression is a legal Python statement, it will be executed.
# eval()可以轉型成可比較的數值，不限定整數或浮點數

#####  11 for it's true

In [ ]:
### for item in sequence:
# A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)